/myOwnWork/Code/Web/finalWebServer/data
/myOwnWork/Code/Web/finalWebServer/appdata
/myOwnWork/Code/Web/finalWebServer/.idea
/myOwnWork/Code/Web/finalWebServer/Backup-images
/myOwnWork/Code/Web/finalWebServer/public/images
/myOwnWork/Code/Web/finalWebServer/node_modules